<div ng-controller="View2Ctrl as ctrl">

    <img src="http://wo24.pl/wp-content/uploads/2014/05/ksiazka_animowana_d.jpg"></image>
    <div><h1>Tytuł ksiązki</h1><span>7/10</span></div>
    <div> safsadfas fasdflaksmflkasmdflkamsdflkmaskldfmkl</div>
    <div>dodaj komentarz</div>
    <div>
        <h2>Opinie</h2>
        <ul>
            <li> switna ksizka 2/10</li>
            <li> switna ksizka 3/10</li>
        </ul>
    </div>

</div>