<div ng-controller="addBookController as ctrl">
    <div>
        <form>
            <div>
                <span>Title</span>
                <input ng-model="ctrl.book.title" type="text"/>
            </div>
            <div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Author</label>
                    </div>
                    <select ng-model="ctrl.book.author.id" class="custom-select" id="inputGroupSelect01">
                        <option ng-value="author.id" ng-repeat="author in ctrl.authorList">
                            <span>{{author.name}} {{author.surname}}</span>
                        </option>
                    </select>
                </div>
            </div>
            <div>
                <!--<span>Categories</span>-->
                <!--<div ng-dropdown-multiselect="" options="ctrl.categoryList" selected-model="example1model"></div>-->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Category</label>
                    </div>
                    <select  ng-model="ctrl.chosenCategory" ng-change="ctrl.updateCategory()" class="custom-select" id="inputGroupSelect02">
                        <option ng-value="category.id" ng-repeat="category in ctrl.categories">
                            <span>{{category.name}}</span>
                        </option>
                    </select>
                </div>
            </div>
            <div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Publisher</label>
                    </div>
                    <select ng-model="ctrl.book.publisher.id" class="custom-select" id="inputGroupSelect03">
                        <option ng-value="publisher.id" ng-repeat="publisher in ctrl.publisherList">
                            <span>{{publisher.name}}</span>
                        </option>
                    </select>
                </div>
            </div>
            <div>
                <span>Description</span>
                <input ng-model="ctrl.book.description" type="textarea"/>
            </div>
            <div>
                <span>Publication Date</span>
                <div class="row">
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input ng-model="ctrl.book.publicationDate" type='date' class="form-control"/>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker1').datetimepicker();
                        });
                    </script>
                </div>
            </div>

            <button ng-click="ctrl.createUser()" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>