<div ng-controller="View1Ctrl as ctrl">

    <!--View1Ctrl ctrl = new View1Ctrl();-->

    <div>
        <table class="table table-dark">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publication date</th>
                <th>Categories</th>
            </tr>
            </thead>
            <div>
                <tr ng-repeat="book in ctrl.books">
                    <td><span>{{book.id}}</span></td>
                    <td>{{book.title}}</td>
                    <td>{{book.author.name}} {{book.author.surname}}</td>
                    <td>{{book.publicationDate}}</td>
                    <td>
                        <div ng-repeat="category in book.categoryList"><span>{{category.name}} </span></div>
                    </td>
                </tr>
            </div>

        </table>
    </div>

</div>
